@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>This Pokedex app was built by Muhammad Syah bin Razak for the Web API Development course.</p>

<p>
    Project Description: Pokedex Web Application<br>
    The Pokedex Web Application is a simple ASP.NET Core MVC project that displays Pokémon data from the PokeAPI.<br>
    Users can view a list of Pokémon on the homepage, search for specific ones, and see detailed info on a styled Details page.<br>
    It features a Pokédex-inspired design with a gold border, gradients, and hover effects, showing stats, types, abilities, moves, items,<br>
    and vitals in a desktop-friendly layout. Built for learning, it showcases API use, MVC structure, and basic CSS styling.
</p>